<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.kaizen.dao.SysRoleUserDao">

	
	<delete id="delete">
		 delete from sys_role_user
		 where roleId = #{roleId} 
	</delete>
	
	<delete id="deleteBatch">
		 delete from sys_role_user
		 where userId not in (10  ,8713) and userId in
		 <foreach collection="userIds" index="index" item="item"
            open="(" separator="," close=")">
            #{item}
        </foreach>
	</delete>
	
	<delete id="deleteByProjIds">
		 delete from sys_role_user
		 where  roleId in
		 (
		 	select role_id from proj_role_relation
		 	where proj_id in (
		 		 <foreach collection="projIds" index="index" item="item"
		            open="(" separator="," close=")">
		            #{item}
		        </foreach>
		 	)
		 	
		 )
		
	</delete>
	
	<insert id ="batchInsert" parameterType="java.util.List" >
           insert into sys_role_user
           (roleId,userId)
           values
            <foreach collection ="list" item="item" index= "index" separator =",">
                (
                	#{item.roleId}, #{item.userId}
                )
            </foreach >
     </insert >
</mapper>