<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.kaizen.dao.lte.LteConfigDao">

	
	
	<select id="find" resultType="LteConfig">
		 select lp.* 
		 from
		 lte_config lp where 1=1
		 <if test="map.projId != null and map.projId != ''">
            and lp.projId = #{map.projId}
        </if>
		 order by lp.createTime desc
	</select>
	
	<select id="queryListByProjId" resultType="LteConfig">
		 select lp.* 
		 from
		 lte_config lp 
		 where status=2 and projId=#{projId}
		 limit 1
	</select>
	
	<select id="findInfoById" resultType="LteConfig">
		 select lp.* 
		 from
		 lte_config lp 
		 where 
		 projId =#{projId}  and status=2
		 limit 1
	</select>
	

	
	<delete id="delete">
		 delete from lte_config
		 where id in
		 <foreach collection="idsArray" index="index" item="item"
            open="(" separator="," close=")">
            #{item}
        </foreach>
	</delete>
	
	<update id="update">
		update lte_config 
		set mVoiceCount=#{mVoiceCount}
		,mVoiceTarget=#{mVoiceTarget}
		,mFtpService=#{mFtpService}
		,mFtpPort=#{mFtpPort}
		,mFtpUserName=#{mFtpUserName} 
		,mFtpPaw=#{mFtpPaw} 
		
		,mFtpFileDownPath=#{mFtpFileDownPath} 
		,mFtpFileUpPath=#{mFtpFileUpPath} 
		,mFtpUpRateTarget=#{mFtpUpRateTarget} 
		,mFtpDownRateTarget=#{mFtpDownRateTarget} 
		,updateTime=#{updateTime} 
			
		where id=#{id}
	</update>
	<update id="changeStatus">
		update lte_config 
		set status=#{status}
		where id=#{id} 
	</update>
	
	<insert id="save"  useGeneratedKeys="true" keyProperty="id">
		insert into  lte_config
		(
			mVoiceCount,
			mVoiceTarget,
			mFtpService,
			mFtpPort,
			mFtpUserName,
			mFtpPaw,
			mFtpFileDownPath,
			mFtpFileUpPath,
			mFtpUpRateTarget,
			mFtpDownRateTarget,
			createTime,
			createAt,
			projId
		) 
		values
		(
			#{mVoiceCount},
			#{mVoiceTarget},
			#{mFtpService},
			#{mFtpPort},
			#{mFtpUserName},
			#{mFtpPaw},
			#{mFtpFileDownPath},
			#{mFtpFileUpPath},
			#{mFtpUpRateTarget},
			#{mFtpDownRateTarget},
			#{createTime},
			#{createAt},
			#{projId}
		)
	</insert>
	
	

	
</mapper>