<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.kaizen.dao.lte.LteStationCheckDao">

	
	
	<select id="find" resultType="LteStationCheck">
		 select lp.* 
		 from
		 lte_station_check lp 
		 where 1=1
		 <if test="map.projId != null ">
            and lp.projId = #{map.projId}
        </if>
         
        <if test="map.eNodeBID != null and map.eNodeBID != ''">
            and lp.eNodeBID = #{map.eNodeBID}
        </if>
        
        <if test="map.testDate != null and map.testDate != ''">
            and lp.testDate = #{map.testDate}
        </if> 
		
		 order by lp.createTime desc
	</select>
	
	<select id="findById" resultType="LteStationCheck">
		 select *
		 from
		 lte_station_check  
		 where id=#{id}
	</select>
	
	<delete id="deleteByeNodeBID">
		 delete from lte_cell_check
		 where eNodeBID =#{mENodeBID}
	</delete>
	
	<select id="findListByMenodeBID" resultType="LteStationCheck">
		 select *
		 from
		 lte_station_check  
		 where eNodeBID=#{mENodeBID}
	</select>
	
	<delete id="delete">
		 delete from lte_station_check
		 where id in
		 <foreach collection="idsArray" index="index" item="item"
            open="(" separator="," close=")">
            #{item}
        </foreach>
	</delete>
	
	<insert id ="batchInsert" parameterType="java.util.List" >
           insert into lte_station_check
           (eNodeBID,userId,testDate,latitude,longitude,tac,createTime,projId)
           values
            <foreach collection ="stationChecks" item="item" index= "index" separator =",">
                (
                	#{item.eNodeBID},#{item.userId},#{item.testDate},#{item.latitude},#{item.longitude},#{item.tac},#{item.createTime},#{item.projId}
                )
            </foreach >
     </insert>
	
	
	<update id="updateInfo" parameterType="LteStationCheck">
		update lte_station_check
		<set>
			<if test="userId != null">
				userId = #{userId},
			</if>
			<if test="enodeBID != null">
				enodeBID = #{enodeBID},
			</if>
			<if test="testDate != null">
				testDate = #{testDate},
			</if>
			<if test="latitude != null">
				latitude = #{latitude},
			</if>
			<if test="longitude != null">
				longitude = #{longitude},
			</if>
			<if test="tac != null">
				tac = #{tac},
			</if>
			<if test="projId != null">
				projId = #{projId},
			</if>
		</set>
		where id = #{id} 
	</update>
	
</mapper>